---
interface Props {
	title: string;
	date: string;
	slug: string;
	description: string;
	readingTime: number;
}

const { title, date, slug, readingTime, description } = Astro.props;
---

<a href={`/${slug}`}>
  <li class="my-14">
    <h2 class="mb-1 text-2xl font-bold" transition:name={`post-title-${slug}`}>{title}</h2>
    <div class="mb-2.5 text-sm text-neutral-500">
      <span>{date}</span><span> · {readingTime}분</span>
    </div>
    <div class="text-sm text-neutral-400 dark:text-neutral-600">
      {description}
    </div>
  </li>
</a>
