---
interface Props {
  title: string
  date: string
  slug: string
  description: string
  readingTime: number
}

const { title, date, slug, description, readingTime } = Astro.props;
---

<a id="preview-link" href={`/${slug}`}>
  <li>
    <h2>{title}</h2>
    <span id="description">
      {description}
    </span>
    <div id="meta">
      <span>{date}</span><span> · {readingTime}분</span>
    </div>
  </li>
</a>

<style lang="scss">
  #preview-link {
    text-decoration: none;
    outline: none;
    color: black;
  }
  
  h2 {
    margin: 0 0 8px;
  }
  
  a {
    display: block;
    margin: -10px;

    li {
      padding: 16px;
      margin-bottom: 20px;
      border-radius: 10px;
      transition: background-color ease-in-out 0.1s, transform ease-in-out 0.1s;
      
      &:hover {
        background-color: rgba(0, 0 ,0, 0.05);
        
        @media (min-width: 800px) {
          transform: scale(1.01);
        }
      }
    }
  }
  
  
  #description {
    display: block;
    margin-bottom: 4px;
  }
  
  #meta {
    font-size: 13px;
    color: grey;
  }
</style>
