---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Utterance from '../components/Utterance.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && 
          <div id="heroImageContainer">
            <img width={720} height={360} src={heroImage} alt="" />
          </div>
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate.toDateString()}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Utterance />
    <Footer />
  </body>
</html>

<style lang="scss">
  #heroImageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 6px;
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1000%;
      width: 120%;
      height: 120%;
      object-fit: cover;
      filter: blur(3px);
      z-index: 1;
    }
    
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 2;
      content: "";
    }
  }
</style>
